@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(roteiros.css);
@import url(paginaviagem.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

.navbar {
    background-color: #003662;
    padding: 1rem;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.menu li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.menu li a:hover::after {
    transform: scaleX(1);
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/freepik__the-style-is-candid-image-photography-with-natural__80086.png') no-repeat center center;
    background-size: cover;
    color: white;
    height: 600px;
    text-align: center;
    
}

.banner h1 {
    padding-top: 270px;
    font-family: "Noto Sans Warang Citi", sans-serif;
    font-style: normal;
    font-size: 40px;
 
}

.destinos {
    padding: 2rem;
    background-color: #e8f7ff;
}

.destinos h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.preco-destaque {
    color: #646464;
    margin: 5px 0 10px 10px;
}

.eventos {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.eventos h2 {
    margin-bottom: 50px;
}

.grid-eventos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.evento {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    width: 500px;
    gap: 15px;
}

.evento img {
    width: 150px;
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
}

.evento-info {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.evento h4 {
    margin-bottom: 5px;
}

.botao-evento {
    display: inline-block;
    padding: 10px 100px;
    margin: 10px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    align-self: flex-start;
}

.botao-evento:hover {
    background: #0056b3;
}


.image-placeholder {
    background-color: #ddd;
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.botoes button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #003662;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botoes button:hover {
    background-color: #0056b3;
}

.formulario {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.formulario input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #008CFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.formulario button:hover {
    background-color: #0056b3;
}

#info-usuario {
    display: none;
    margin-top: 20px;
}

#info-usuario p {
    margin: 5px 0;
    font-size: 16px;
}

#info-usuario p:first-child {
    font-weight: bold;
}

#botao-logout {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botao-logout:hover {
    background-color: #c82333;
}

.esconde {
    display: none;
}


.container-cadastro {
    margin: 0 auto;
    background-color: #003662;
}

.container-cadastro h2 {
    color: white;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;

    width: 250px;
    max-width: 250px;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
}

/* .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
} */

.card h3 {
    margin: 5px;
}

.servicos-section {
    padding: 2rem 10rem;
}

.servicos-section h1 {
    margin-bottom: 1rem;
}

.servicos {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.servicos-title {
    color: #004080;
    margin-bottom: 10px;
}

.servicos-list {
    list-style-type: none;
    padding-left: 20px;
}

.servicos-item {
    padding: 10px 0;
    font-size: 18px;
}

.servicos-item::before {
    content: "✔";
    color: #004080;
    font-weight: bold;
    margin-right: 10px;
}